params {
        ldmap = "/usr/bin/ldmapper1"
        vcfs = "data/*.vcf.gz"
        outdir = "results"
        window_size = 10000
        window_offset = 5000
	chromosome = 1
	min_maf=0.1
}


profiles {

        standard {
                process.executor = "local"
                process.cpus = 12
                process.memory = 40
                process.conda = "/export/home/grijo/miniconda3/envs/slim"
                }

        clusteruy {
                process.executor = "slurm" 
                process.memory="10G"
                process.conda="/clusteruy/home/grijo/miniconda3/envs/slim"
                process.clusterOptions="--qos=besteffort --partition=besteffort"
                process.errorStrategy="retry"
                executor.queueSize=50
		
		process {	withLabel: big {
        				cpus = 20
        				memory = 20.GB
        			} 
			}
        }
	
}


manifest {
    description = "Run ldmap on vcf"
    mainScript = "recombination-analysis.nf"

}


trace {
    enabled = true
    fields  = "task_id,hash,native_id,process,tag,name,status,exit,cpus,start,complete,realtime,%cpu,%mem"
    file = "run_info/trace_${chromosome}.txt"
    }

timeline {
    enabled = true
    file = "run_info/timeline_${chromosome}.html"
}

report {
    enabled = true
    file = "run_info/report_${chromosome}.html"
}


